.container.work-page {
  padding-left: 0.1%;
  padding-top: 23%;
  padding-right: 1%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  box-sizing: border-box;
  
  .text-zone {
    position: relative;
    
    h1 {
      font-size: 50px;
      margin-bottom: 3rem;
      color: #ffd700;
    }
  }
}

@media (max-width: 1000px) {
  .container.work-page {
    padding-left: 0;
    padding-right: 30%;
    padding-top: 1%;
    
    .text-zone {
      h1 {
        font-size: 295%;
      }
    }
  }
}